#first, #second, #third {
    color:blue;
}

/* Ohne Variablen mit Media Queries (Reihenfolge ist wichtig) 
@media screen and (min-width:250px) {
    #first, #second, #third {
        color: aqua;
    }
}

@media screen and (min-width:500px) {
    #first, #second, #third {
        color: pink;
    }
}

@media screen and (min-width:750px) {
    #first, #second, #third {
        color: red;
    }
}

@media screen and (min-width:1000px) {
    #first, #second, #third {
        color:black;
    }
}
*/


/* Die Reihenfolge der Media-Queries ist wichtig, da es sonst passiert, dass die kleinste Regel gilt, da sowohl die Bedingung von 1000px als auch von 250px erfüllt wird */

@media print {
    img {
        display:none;
    }
    :root {
        --fontColor: black;
    }
}


/* Alternative mit den Variablen: */

@media screen and (max-width: 499px) {
    :root {
        /* Hier werden Variablen definiert */
        --fontColor: red;
        --fontSize: 20px;
    }
}

@media screen and (min-width: 500px) {
    :root {
        --fontColor: yellow;
        --fontSize: 25px
    }
}

@media screen and (min-width: 750px) {
    :root {
        --fontColor: black;
        --fontSize: 30px
    }
}

:root {
    font-size: var(--fontSize, 16px);
}

#first, #second, #third {
    /* Hier wird die Variable eingesetzt */
    color: var(--fontColor, black);
    font-size: var(--fontSize);
    margin: 1.5rem;
    /* Keine leertasten nach den Funktionen in CSS */

}



