.flex-container {
    display: flex;
    padding: 2rem;
}


.flex-textbox, .flex-textbox-2 {
    width: 50%;
    padding: 2rem;
    text-align: justify;
}


.flex-img-container-2 {
    width: 50%;
}

.flex-img-container-4 {
    width: 25%;
}

img {
    display: block;
}


